# Python temp files
__pycache__/
*.py[cod]
*$py.class

# R temp files
**/*.Rhistory
**/*.Rdata

# Shell temp files
**/*.sh~
**/*.sh.un~
**.swp

# Excel temp files
**/~$*.xlsx
**/~$*.xlsm

# Other temp files
*.DS_Store
**/*.log

# Large literature files
**/Studies/
**/Studies list/

# Large data files
**/automatically_updated_data_set_master_thesis_cala.xlsx
**/impact_factor_data.*
Thesis main/Historic/
Data/AdditionalData/
Results/
Communication/Topic overview/Useful works/*

# Selenium
chromedriver
*.chromedriver

# Virtual environments
.venv/

# Shortcuts
*.lnk

# Vim temp files
*.yaml.swp

# VS code tepm files
**/.vscode/
