# Python temp files
__pycache__/
*.py[cod]
*$py.class

# R temp files
**/*.Rhistory
**/*.Rdata

Excel temp files
**/~$*.xlsx
R/*.csv

# Large literature files
**/Studies/
**/Studies list/

# P&P folder files
**/P&P (2018) analysis/Tools/*

# Selenium
chromedriver
*.chromedriver

# Virtual environments
.venv/

# Shortcuts
*.lnk