# Python temp files
__pycache__/
*.py[cod]
*$py.class

# R temp files
**/*.Rhistory
**/*.Rdata

# Leftover folders from the subtree split
Data/AdditionalData/
Dist/
R/
Thesis main/

# R output files and cache
_cache/*

# Shell temp files
**/*.sh~
**/*.sh.un~

# Excel temp files
**/~$*.xlsx
**/~$*.xlsm

# Shortcuts
*.lnk